<html>
    <head>
        <title>Gmemify - <%- gmem %></title>
        <meta charset=utf8>
    </head>
    <body>
        <style>
            .center-screen {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-height: 100vh;
                font-size: 5vh;
                font-weight:bolder;
            }
            .subtext {
                font-size: 2vh;
                font-weight:normal;
                margin-top: 20px;
            }
        </style>
        <div class="center-screen"><%- gmem %><br><span class="subtext">and now you know.</span></div>
    </body>
</html>